.ct-series-a .ct-line,
.ct-series-a .ct-point {
    stroke: var(--dark-secondary-color);

}

.ct-series-a .ct-area {
    fill:var(--dark-secondary-color);
}


.ct-series-b .ct-line,
.ct-series-b .ct-point {
    stroke: var(--dark-primary-color);
  
}
.ct-series-b .ct-area {
    fill:var(--dark-secondary-color);
}
